
.form-group label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

.form-group input {
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
}

.form-group button {
    width: 150px;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 15px;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
}

.links a:hover {
    text-decoration: underline;
}

.text-align-center {
    text-align: center;
}

.divider {
    margin: 20px 0;
}
.margin-up {
    margin-top: 15px;
    margin-bottom: 15px;
}
