<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <!-- Css sheet -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- import Poppins font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <button class="navButton"><a th:href="@{/index}" >Home</a> </button>
    </nav>
    <div class="error-container error">
        <h2 class="m-auto">Sidan hittades inte, backa för att komma tillbaka till applikationen</h2>
    </div>
</div>
</body>
</html>